<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DoctorInfoMapper">

    <!-- 分页获取医生信息 -->
    <select id="selectDoctorPage" resultType="java.util.LinkedHashMap">
        select di.id,
        di.code,
        di.doctor_name,
        di.doctor_sex,
        di.hospital_name,
        di.offices_name,
        di.doctor_img,
        di.doctor_title,
        di.teach_title,
        di.doctor_administrative,
        di.doctor_degree,
        di.doctor_forte,
        di.doctor_about,
        di.hospital_id,
        di.images,
        di.offices_id,
        hi.hospital_name as hospitalNameLess,
        oi.offices_name as officesNameLess
        from doctor_info di
        left join hospital_info hi on (hi.id = di.hospital_id)
        left join office_info oi on (oi.id = di.offices_id)
        where 1 = 1
        <if test="doctorInfo.doctorName != null and doctorInfo.doctorName != ''">
            AND di.doctor_name LIKE CONCAT('%',#{doctorInfo.doctorName},'%')
        </if>
        <if test="doctorInfo.hospitalName != null and doctorInfo.hospitalName != ''">
            AND hi.hospital_name LIKE CONCAT('%',#{doctorInfo.hospitalName},'%')
        </if>
        <if test="doctorInfo.officesName != null and doctorInfo.officesName != ''">
            AND oi.offices_name LIKE CONCAT('%',#{doctorInfo.officesName},'%')
        </if>
        <if test="doctorInfo.hospitalId != null">
            AND hi.user_id = #{doctorInfo.hospitalId}
        </if>
        order by di.doctor_name desc
    </select>
</mapper>
