<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.HelpInfoMapper">

    <!-- 分页获取问题求助信息 -->
    <select id="selectHelpPage" resultType="java.util.LinkedHashMap">
        select hi.id,
        hi.question_type,
        hi.question,
        hi.answer,
        hi.user_id,
        hi.create_date,
        hi.status,
        hi.reply_date,
        ui.name as userName,
        ui.phone as phone,
        ui.images as userImages
        from help_info hi
        left join user_info ui on (ui.id = hi.user_id)
        where 1 = 1
        <if test="helpInfo.questionType != null and helpInfo.questionType != ''">
            AND hi.question_type LIKE CONCAT('%',#{helpInfo.questionType},'%')
        </if>
        <if test="helpInfo.question != null and helpInfo.question != ''">
            AND hi.question LIKE CONCAT('%',#{helpInfo.question},'%')
        </if>
        <if test="helpInfo.status != null and helpInfo.status != ''">
            AND hi.status = #{helpInfo.status}
        </if>
        <if test="helpInfo.userId != null and helpInfo.userId != ''">
            AND ui.user_id = #{helpInfo.userId}
        </if>
        order by hi.create_date desc
    </select>
</mapper>
