<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ScheduleInfoMapper">

    <!-- 分页获取排班信息 -->
    <select id="selectSchedulePage" resultType="java.util.LinkedHashMap">
        select
        si.id,
        si.code,
        si.name,
        si.task_date,
        si.start_date,
        si.end_date,
        si.office_id,
        si.staff_ids,
        si.create_date,
        oi.offices_name,
        hi.hospital_name,
        di.doctor_name,
        di.images
        from
        schedule_info si
        left join doctor_info di on (di.id = si.staff_ids)
        left join office_info oi on (oi.id = si.office_id)
        left join hospital_info hi on (hi.id = di.hospital_id)
        where
        1 = 1
        AND si.status = '0'
        <if test="scheduleInfo.code != null and scheduleInfo.code != ''">
            AND code LIKE CONCAT('%',#{scheduleInfo.code},'%')
        </if>
        <if test="scheduleInfo.name != null and scheduleInfo.name != ''">
            AND name LIKE CONCAT('%',#{scheduleInfo.name},'%')
        </if>
        <if test="scheduleInfo.hospitalId != null">
            AND hi.user_id = #{scheduleInfo.hospitalId}
        </if>
        <if test="scheduleInfo.staffId != null">
            AND di.user_id = #{scheduleInfo.staffId}
        </if>
        order by
        code desc
    </select>

    <!-- 根据医生获取排班信息 -->
    <select id="selectScheduleListByMonth" resultType="cc.mrbird.febs.cos.entity.ScheduleInfo">
        select
        si.id,
        si.code,
        si.name,
        si.task_date,
        si.start_date,
        si.end_date,
        si.office_id,
        si.staff_ids,
        si.create_date
        from
        schedule_info si
        where
        1 = 1
        AND si.status = '0'
        <if test="year != null and year != ''">
            AND YEAR(si.task_date) = #{year}
        </if>
        <if test="month != null and month != ''">
            AND MONTH(si.task_date) = #{month}
        </if>
        AND si.staff_ids = #{doctorId}
    </select>

    <!-- 获取今天14天的排班信息 -->
    <select id="selectScheduleListByDay" resultType="cc.mrbird.febs.cos.entity.ScheduleInfo">
        select
        si.id,
        si.code,
        si.name,
        si.task_date,
        si.start_date,
        si.end_date,
        si.office_id,
        si.staff_ids,
        si.create_date,
        di.images,
        di.doctor_name,
        oi.offices_name,
        ri.id AS registerId
        from
        schedule_info si
        LEFT JOIN office_info oi on (oi.id = si.office_id)
        LEFT JOIN doctor_info di on (di.id = si.staff_ids)
        LEFT JOIN register_info ri on (ri.schedule_id = si.id and ri.status != '0' and ri.status != '5')
        where
        1 = 1
        AND si.status = '0'
        <if test="doctorIds != null and doctorIds.size() != 0">
            AND si.staff_ids IN
            <foreach collection="doctorIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        AND si.task_date BETWEEN CURDATE() and DATE_SUB( CURDATE(), INTERVAL - 14 DAY )
    </select>
</mapper>
